<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Odbiornik HDMI</title>
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/watch.css">
        <link rel="stylesheet" href="/styles/materialize.min.css">
        <script src="/js/materialize.min.js"></script>
        <script src="/js/socket.io.min.js"></script>
    </head>
    <body>
        <div id="stream-viewer" style="display: none;">
            <div id="stream-player-wrapper">
                <video id="stream-player"></video>
            </div>
        </div>
        <div id="splash-screen">
            <label id="splash-streamer-info">
                <i class="material-icons" style="font-size: inherit; position: relative; top: 4px;">settings_input_hdmi</i>
                <span>Transmisja sygnału HDMI</span>
            </label>
            <div id="watch-btn-wrapper">
                <button id="watch-btn" class="btn-large teal waves-effect waves-teal pulse">
                    <i class="material-icons left">chevron_right</i>
                    Obejrzyj transmisję
                </button>
                <div id="loading-container">
                    <div class="lds-spinner white-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <h4 id="loading-text" class="white-text" style="margin: 0;">Oczekiwanie na rozpoczęcie transmisji...</h4>
                </div>
            </div>
        </div>

        <script src="/js/watch.js" defer></script>
    </body>
</html>
